{% extends 'base.html' %}

{% block title %}
  {{ object }}
{% endblock title %}

{% block content %}
<h1>
  {{ object }}
  {% if user == object %}
    <a class="btn btn-info" href="{% url 'user_update' user.pk %}">Редактировать</a>
  {% endif %}
</h1>

{% if object.avatar %}
  <div class="row my-4">
      <div class="col-sm-2"><img class="img-fluid" src="{{ object.avatar.url }}"></div>
  </div>
{% endif %}
<div class="row ">
    <div class="col-sm-4">Имя</div>
    <div class="col-sm-8">{{ object.first_name }}</div>
</div>
<div class="row ">
    <div class="col-sm-4">Фамилия</div>
    <div class="col-sm-8">{{ object.last_name }}</div>
</div>
<div class="row ">
    <div class="col-sm-4">Возраст</div>
    <div class="col-sm-8">{{ age }}</div>
</div>
<div class="row">
    <div class="col-sm-4">Email</div>
    <div class="col-sm-8">{{ object.email }}</div>
</div>
<br>
<h2>Статьи автора</h2>
{% for article in articles %}
  <article class="border rounded my-4 p-4">
    <h4><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h4>
    {{ article.body_crop }}
  </article>
{% endfor %}

{% endblock content %}